/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 .fixed-bottom-right
 {
   position: fixed !important;
   right: 10px;
   bottom: 10px;
 }


body,html
{
   background: #ECECEC !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/material-design-icons/Material-Design-Icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('Material-Design-Icons'),
       url(../font/material-design-icons/Material-Design-Icons.woff2) format('woff2'),
       url(../font/material-design-icons/Material-Design-Icons.woff) format('woff'),
       url(../font/material-design-icons/Material-Design-Icons.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.top-bar
{
  background-color: rgb(0,137,123);
  height: 70px;
}

.top-bar_logo
{float: left;}

.top-bar_search
{
  padding: 17px 0 0 0;
  margin: 0 0 0 110px;
  float: left;
  width: 400px;
}

.top-bar_user
{
  float:right;
  margin: 22px 65px 0 0;
}

.user-menu
{

}

.user-menu .item
{
  display: block;
  margin: 3px 0px 5px 0;
  cursor:pointer;
  color: #00b5ad;
}

.user-menu .item:hover span, .user-menu .item:hover i
{
  color: #333 !important;
}

.brand-logo
{
  position: relative;
  width: 128px;
  float:left;
  margin: 16px;
}

.brand-logo span
{
  position: absolute;
  font-size: 11px;
  color: #EAEAEA;
  top: -1px;
  left: 88px;
}

.brand-logo:before
{
 content:"";
 background: url("../img/alice.png") no-repeat;
 width: 83px;
 height: 36px;
 display: block;
 vertical-align: top;
 top: 0;
}

/* Content - start */

.wrapper-block
{
  border: 0 !important;
  height: auto !important;
  min-height: 100%;
}

.content-block
{
  padding: 40px 0 0 40px !important;
  max-width: 1280px;
}

.content-block h3
{
  margin: 0 0 10px 0 !important;
}

/* Content - finish */


/* Sidebar - start */


/* User */

.curent-user
{
  float:right;
}

.curent-user md-chips-wrap
{
  box-shadow: none;
}

.sidenav-left
{
  background-color: rgb(236, 236, 236);
  padding: 10px 0 0 0;
}

.sidenav-left md-content
{
  background: none;
}

.curent-user_avatar img
{
  width: 140px;
}

/* Sidebar - finish */
.content
{

}

.clear-all::after
{
  content:"";
  display:block;
  clear:both;
}

.content::after
{
  content:"";
  display:block;
  clear:both;
}
.main-content
{
  max-width: 1280px;
  background-color: rgb(236, 236, 236);
  margin: 0 0 0 20px;
  padding: 10px 0 0 0;
}

.main-content h3
{
  margin:0;
  padding: 0;
}
.user-cards
{

}

.user-cards_img
{
  height: 300px;
}

.user-cards_card .user-detales
{
  margin: 40px 0 0 0;
  border: 0;
}

.user-cards .card-action a
{
  margin: 0 10px 0 0;
}

.user-cards .md-card-image
{

}


.user-chip
{
  float:right
}

.search-wrapper
{
  position: relative;
  background: #fff
}

.search-wrapper input, .search-wrapper input:focus
{
  border: 0 !important;
  display: inline-block;
  vertical-align: top;
  box-shadow: none !important;
}

.search-wrapper i
{
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 2.5rem;
  color: #ccc;
}

/* Users - start */
.user-add-button
{
  bottom: 20px !important;
  right: 20px !important;
}
.user-add-button button
{
  padding: 20px !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.42) !important;
}


.user-add-button i
{

}

/* Users - finish */

/* Departments - Start */

.department-cards .card
{
  margin: 17px 10px 17px 0 !important;
}

/* Departments - Finish */

/* Form */

.user-form
{
  max-width: 700px;
}

.hidden
{
  display: none;
}

.department-button
{
  margin: 20px 0 0 -5px;
}
