/*
  Alice main stylesheet
  Author: vanhock
*/

/* Base styles */

body,html
{
   background: #ECECEC !important;
}

/* Top Bar */

.top-bar
{
  background-color: rgb(0,137,123);
  height: 70px;
}

.top-bar_logo
{float: left;}

.top-bar_search
{
  padding: 17px 0 0 0;
  margin: 0 0 0 110px;
  float: left;
  width: 400px;
}

.top-bar_user
{
  float:right;
  margin: 22px 65px 0 0;
}

.user-menu
{

}

.user-menu .item
{
  display: block;
  margin: 3px 0px 5px 0;
  cursor:pointer;
  color: #00b5ad;
}

.user-menu .item:hover span, .user-menu .item:hover i
{
  color: #333 !important;
}

.brand-logo
{
  position: relative;
  width: 128px;
  float:left;
  margin: 16px;
}

.brand-logo span
{
  position: absolute;
  font-size: 11px;
  color: #EAEAEA;
  top: -1px;
  left: 88px;
}

.brand-logo:before
{
 content:"";
 background: url("../img/alice.png") no-repeat;
 width: 83px;
 height: 36px;
 display: block;
 vertical-align: top;
 top: 0;
}

/* Content  */

.wrapper-block
{
  border: 0 !important;
  height: auto !important;
  min-height: 100%;
}

.content-block
{
  padding: 40px 0 0 40px !important;
  max-width: 1280px;
}

.content-block h3
{
  margin: 0 0 10px 0 !important;
}


/* Sidebar */

.fixed-bottom-right
{
 position: fixed !important;
 right: 10px;
 bottom: 10px;
}

/* Content block */

.main-content
{
  max-width: 1280px;
  background-color: rgb(236, 236, 236);
  margin: 0 0 0 20px;
  padding: 10px 0 0 0;
}

.main-content h3
{
  margin:0;
  padding: 0;
}

/* Users page */

.user-cards .card
{
  margin-bottom: 15px !important;
}

.user-cards_img
{
  margin: 0 auto;
  background: #fbfcfc !important;
  height: 219px;
  width: 290px;
}

.user-cards_img img
{
  height: 150px !important;
  width: 150px !important;
  border-radius: 100% !important;
  margin: 35px auto 0 auto;
  border: 1px solid #e3dede !important;
}

.user-add-button
{
  top: 20px !important;
  right: 275px !important;
  position: fixed !important;
}
.user-add-button button
{
  padding: 20px !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.42) !important;
}


.user-add-button i
{

}

/* Departments */

.department-cards .card
{
  margin: 17px 10px 17px 0 !important;
}


/* Form */

.user-form
{
  max-width: 700px;
}

.hidden
{
  display: none;
}

.department-button
{
  margin: 20px 0 0 -5px;
}
