/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body
 {
     background: #F9F8F8;
 }

  .brand-logo
  {
    vertical-align: top;
    position: relative;
  }

  .brand-logo span
  {
    position: absolute;
    font-size: 11px;
    color: #EAEAEA;
    top: -11px;
    left: 46px;
  }

 .brand-logo:before
 {
   content:"";
   background: url("../img/alice.png") no-repeat;
   width: 83px;
   height: 36px;
   display: block;
   margin: 14px 0 0 0;
   vertical-align: top;
   position: absolute;
   left: -44px;
 }

 .main-menu
 {
   margin: 0 20px 0 0;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.card-login
{
  margin: 0 auto 0 auto;

}

.card-login_block
{
  min-height: 600px;
}

.user-cards
{
  margin: 14px 0;
}

.user-cards_card
{
}
.user-cards_card .user-detales
{
  margin: 40px 0 0 0;
  border: 0;
}

.user-cards .card-action a
{
  margin: 0 10px 0 0;
}


.user-chip
{
  float:right
}

.search-wrapper
{

}

.search-wrapper input, .search-wrapper input:active
{
  border: 0;
  display: inline-block;
  vertical-align: top;
}

.search-wrapper i
{
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 2.5rem;
  color: #ccc;
}
