<div class="ui piled segment user-form" ng-controller="DepartmentEditController">
  <h4 class="ui header">Department edit</h4>
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="three fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Type department name... " ng-model="department.name" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="ui multiple dropdown">
      <input type="hidden" name="filters">
      <i class="empire big icon"></i>
      <span class="text">Add Teams</span>
      <div class="menu">
        <div class="ui icon search input">
          <i class="search icon"></i>
          <input type="text" ng-model="department.teams" ng-list placeholder="Search tags...">
        </div>
        <div class="divider"></div>
        <div class="header">
          <i class="tags icon"></i>
          Teams
        </div>
        <div class="scrolling menu">
          <div class="item" data-value="important">
            <div class="ui red empty circular label"></div>
            Empty
          </div>
          <div class="item" data-value="important" ng-repeat="team in teams">
            <div class="ui red empty circular label"></div>
            <span ng-bind="team.name"></span>
          </div>
        </div>
      </div>
    </div>


  <pre>
      {{ department | json }}
  </pre>
</div>
