
<h3 class="ui header">All Departments</h3>
<div class="ui cards department-cards">
  <div class="card" ng-repeat="department in departments">
    <div class="content">
      <img class="right floated mini ui image" src="../img/empty-img.jpg">
      <div class="header" ng-bind="department.name" ui-sref="viewDepartment({id:department._id})"></div>
      <div class="meta">Department teams</div>
      <div class="description">
        <a ui-sref="viewDepartment({id:department._id})" ng-bind="team.name" ng-repeat="team in department.teams" class="ui tag label"></a>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <button ui-sref="editDepartment({id:department._id})" class="ui basic teal button">Edit</button>
        <button ng-click="deleteDepartment(department)" class="ui basic red button">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="ui department-button" ng-show="currentUser.role.name == 'Admin' || currentUser.role.name == 'God'">
  <button ui-sref="newDepartment" class="ui teal button">Add New Department</button>
</div>
<!--
<table class="table movietable">
    <tr>
        <td><h3>All Departments</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="department in departments">
        <td ui-sref="viewDepartment({id:department._id})">{{department.name}}</td>
        <td ui-sref="viewDepartment({id:department._id})" ng-repeat="team in department.teams">{{team.name}},</td>
        <td>
            <a class="btn btn-primary" ui-sref="editDepartment({id:department._id})">Edit</a>
            <a class="btn btn-danger"  ng-click="deleteDepartment(department)">Delete</a>
        </td>
    </tr>
</table> -->
