
<div class="ui small basic modal department-delete-modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Delete this department
  </div>
  <div class="content">
      <span style="font-size: 18px;">Now you want to delete a department. Are you crazy?</span>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="history icon"></i>
      Next time
    </div>
    <div class="ui green basic ok inverted button" ng-click="deleteDepartment(departmentForDelete)">
      <i class="checkmark icon"></i>
      Sure
    </div>
  </div>
</div>

<h3 class="ui header">All Departments</h3>
<div class="ui cards department-cards">
  <div class="card" ng-repeat="department in departments" ng-class="getColor(department)">
    <div class="content">
      <a ui-sref="viewDepartment({id:department._id})">
        <img class="right floated mini ui image" ng-src="{{department.logo}}">
      </a>
      <div class="header">
        <a ui-sref="viewDepartment({id:department._id})" ng-bind="department.name"></a>
      </div>
      <div class="meta">Department teams</div>
      <div class="description">
        <a ui-sref="viewDepartment({id:department._id})" ng-bind="team.name" ng-repeat="team in department.teams" ng-class="getColor(team)" class="ui label"></a>
      </div>
    </div>
    <div class="extra content" ng-show="currentUser.role.name == 'Admin' || currentUser.role.name == 'God'">
      <div class="ui two buttons">
        <button ui-sref="editDepartment({id:department._id})" class="ui basic teal button">Edit</button>
        <button  ng-click="showPopup(department)" class="ui basic red button">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="ui department-button" ng-show="currentUser.role.name == 'Admin' || currentUser.role.name == 'God'">
  <button ui-sref="newDepartment" class="ui teal button">Add New Department</button>
</div>
