<div class="ui tall small stacked segment container">
  <span class="ui teal left ribbon label header user-details_ribbon">
    <h3 ng-bind="user.name + ' ' + user.lastname">IT department</h3>
    <div class="sub header" style="color: #A9E4E1 !important; margin: -10px 0 0 0;" ng-bind="user.position"></div>
  </span>
  <div class="ui horizontal list user-details_list" >
    <div class="item">
      <img class="ui circular small image" ng-src="../img/alicebot/4.png" src="../img/alicebot/6.png" alt="{{user.name}}">
    </div>
    <div class="item">
      <div class="ui list user-details">
        <div class="item">
          <div class="content">
            <a class="ui huge image  label">
              <img src="../img/alicebot/36.png">
              Elliot Hui
              <div class="detail">department leader</div>
            </a>
          </div>
        </div>
        <div class="item" ng-show="user.department.name">
          <i class="text telephone large icon"></i>
          <div class="content">
            <h4 ng-bind="">(4932) 10-53-22</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui message teal">
        <div class="header">
          About <span ng-bind="department.name"></span>
        </div>
        <div ng-bind="department.info">
          After about six million downloads of WordPress 4.5, we are pleased
          to announce the immediate availability of WordPress 4.5.1, a maintenance release.
          This release fixes 12 bugs, chief among them a singular class issue that broke sites based on the
          Twenty Eleven theme, an incompatibility between certain Chrome versions and the
        </div>
      </div>
    </div>
    <div class="item">
      <h3 class="ui header">Teams</h3>
      <div class="ui cards">
        <div class="card purple">
          <div class="content">
            <img class="right floated mini ui image" src="../img/alicebot/10.png">
            <div class="header">Happy Giraffe</div>
            <div class="meta">+7 (930) 355-36-95</div>
            <div class="description">
              Elliot Fu is a film-maker from New York.
            </div>
          </div>
          <div class="extra content" style="margin-bottom: 45px;">
            <a class="left floated like">
              <i class="delete icon"></i>
              Edit
            </a>
            <a class="right floated star">
              <i class="edit icon"></i>
              Delete
            </a>
          </div>
          <div class="ui bottom attached label">
            <span class="ui purple image label">
              <img src="../img/alicebot/36.png">
              Veronika
              <div class="detail">team leader</div>
            </span>
          </div>
        </div>
        <div class="card green">
          <div class="content">
            <img class="right floated mini ui image" src="../img/alicebot/10.png">
            <div class="header">Sliza</div>
            <div class="meta">+7 (324) 343-22-22</div>
            <div class="description">
              Elliot Fu is a film-maker from New York.
            </div>
          </div>
          <div class="extra content" style="margin-bottom: 45px;">
            <a class="left floated like">
              <i class="delete icon"></i>
              Edit
            </a>
            <a class="right floated star">
              <i class="edit icon"></i>
              Delete
            </a>
          </div>
          <div class="ui bottom attached label">
            <span class="ui green image label">
              <img src="../img/alicebot/36.png">
              Gendalf
              <div class="detail">team leader</div>
            </span>
          </div>
        </div>
        <div class="card teal">
          <div class="content">
            <img class="right floated mini ui image" src="../img/alicebot/10.png">
            <div class="header">Odejda Master</div>
            <div class="meta">+7 (324) 343-22-22</div>
            <div class="description">
              Elliot Fu is a film-maker from New York.
            </div>
          </div>
          <div class="extra content" style="margin-bottom: 45px;">
            <a class="left floated like">
              <i class="delete icon"></i>
              Edit
            </a>
            <a class="right floated star">
              <i class="edit icon"></i>
              Delete
            </a>
          </div>
          <div class="ui bottom attached label">
            <span class="ui teal image label">
              <img src="../img/alicebot/36.png">
              Maksim
              <div class="detail">team leader</div>
            </span>
          </div>
        </div>
      </div>
    </div>

</div>
