<div class="ui tall small stacked segment container">
  <span class="ui left ribbon label header user-details_ribbon" ng-class="getColor(department)">
    <h3 ng-bind="department.name"></h3>
    <h4 class="sub header" style="color: white !important; margin: -10px 0 0 0;">department</h4>
  </span>
  <div class="ui horizontal list user-details_list">
    <div class="item">
      <img class="ui circular small image" ng-src="{{department.logo}}">
    </div>
    <div class="item">
      <div class="ui list user-details">
        <div class="item">
          <div class="content">
            <a class="ui huge image  label">
              <img src="../img/alicebot/36.png">
              <span ng-bind="getLeadName(department)"></span>
              <div class="detail">department leader</div>
            </a>
          </div>
          <!-- <pre>{{department | json}}</pre> -->
        </div>
        <div class="item" ng-show="department.phone">
          <i class="text telephone large icon"></i>
          <div class="content">
            <h4 ng-bind="getPhone(department)"></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui message teal">
        <div class="header">
          About <span ng-bind="department.name"></span>
        </div>
        <div ng-bind="department.description">
        </div>
      </div>
    </div>
    <div class="item">
      <h3 class="ui header">Teams</h3>
      <div class="ui cards">
        <div ng-repeat="team in department.teams" class="card" ng-class="getColor(team)">
          <div class="content">
            <img class="right floated mini ui image" ng-src="{{team.logo}}">
            <div class="header" ng-bind="team.name"></div>
            <div class="meta" ng-bind="getPhone(team)"></div>
            <div class="description" ng-bind="team.description"></div>
          </div>
          <div class="extra content" style="margin-bottom: 45px;">

          </div>
          <div class="ui bottom attached label">
            <span class="ui image label" ng-class="getColor(team)">
              <img ng-src="{{team.lead.avatar}}">
              <span ng-bind="getLeadName(team)"></span>
              <div class="detail">team leader</div>
            </span>
          </div>
        </div>
      </div>
    </div>

</div>
