<div class="ui message container text hello-box hidden">
  <div class="ui list">
    <div class="item">
      <img class="ui top aligned small image " src="../img/alicebot/39.png">
      <div class="content">
        <a class="header">Alice #bot</a>
        <div class="description">
          <br>
          <h3 class="header">Hello, Gringo!</h3>
          <p>Would you like to get in wonderland? <br>Prepare your passport!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui stacked segment login-form hidden">
  <form class="ui large form"  ng-submit="login()">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input id="login" class="ui teal" ng-model="user.username" id="login" name="login" type="text" placeholder="Login" required>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input id="login" ng-model="user.password" name="password" id="password" type="password" placeholder="Password" required>
      </div>
    </div>
    <button type="submit" class="ui fluid large teal submit button">Login</button>
    <div class="ui error message">
      </div>
      <div class="ui red message" ng-hide="!error" ng-bind="error"></div>
  </form>
