<h3 class="ui header">Logs</h3>
<div class="ui secondary pointing menu">
  <a class="item" ng-repeat="url in urls" ng-class="$index == 0 ? 'active' : ''" ng-bind="url"></a>
  <div class="right menu">
    <div class="item">
      <div class="ui floating labeled icon dropdown">
        <i class="paw icon"></i>
        <span class="text">Level</span>
        <div class="menu">
          <div class="header">
            <i class="tags icon"></i>
            Filter by level
          </div>
          <div class="item" ng-repeat="level in levels" ng-bind="level" ng-model="level"></div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search users...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="ui feed">
  <div class="event" ng-repeat="log in logs">
    <div class="label">
      <a class="ui circular label" ng-class="log.level" ng-bind="log.level"></a>
    </div>
    <div class="content">
      <div class="summary">
        <a href="{{getUserUrl(log.userId)}}" target="blank">User</a> post a log
        <div class="date" ng-bind="log.time.sec"></div>
      </div>
      <div class="text" ng-bind="formatMessage(log.message)"></div>
      <div class="meta">
        <a class="like">
          <i class="location arrow icon"></i>
          <span ng-bind="url"></span>
        </a>
      </div>
    </div>
  </div>
</div>
