<div class="user-form">
    <div class="ui piled segment">
    <table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>User</th>
        <th>Department</th>
        <th>Team</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>
            <h4 class="ui image header">
              <img ng-src="{{user.avatar}}" alt="{{user.name}}" class="ui mini rounded image">
              <div class="content" ng-bind="user.name + ' ' + user.lastname">

                <div class="sub header">{{user.role.name}}
              </div>
            </div>
          </h4></td>
          <td>
            {{user.department.name}}
          </td>
          <td>
            {{user.team.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
