<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    User Edit
  </div>
  <div class="content" ng-include="user-edit.html">

  </div>
</div>
<div class="user-add-button ui  bottom sticky visible">
  <button ui-sref="newUser" class="circular teal ui icon button addpopup">
    <i class="icon add user big"></i>
  </button>
</div>
<h3 class="ui header">All users</h3>
<div class="ui link cards user-cards doubling stackable five column grid">
    <div class="card" ng-repeat="user in users | filter:search" ui-sref="editUser({id:user._id})">
      <div class="image user-cards_img">
       <img ng-src="{{user.avatar}}" alt="{{user.name}}">
      </div>
      <div class="content">
        <div class="header"><span ng-bind="user.name"></span> <span ng-bind="user.lastname"></span></div>
        <div class="meta">
          <a ng-bind="user.department.name"></a>
        </div>
        <div class="description">
          Matthew is an interior designer living in New York.
        </div>
      </div>
      <div class="extra content" ng-bind="getFullDepartment(user)">
        <span class="right floated">
          Joined in 2013
        </span>
        <!-- <span>
          <i class="user icon"></i>
          75 Friends
        </span> -->
      </div>
    </div>
  </div>
</div>
