<div class="ui tall stacked segment container">
  <span class="ui teal left ribbon label header user-details_ribbon">
    <h3 ng-bind="user.name + ' ' + user.lastname"></h3>
    <div class="sub header" style="color: #A9E4E1 !important; margin: -10px 0 0 0;" ng-bind="user.position"></div>
  </span>
  <div class="ui horizontal list user-details_list" >
    <div class="item">
      <img class="ui circular image" ng-src="{{user.avatar}}" alt="{{user.name}}">
    </div>

    <div class="item">
      <div class="ui list user-details">
          <div class="item">
            <i class="building outline large icon"></i>
            <div class="content">
              <h4 ng-bind="user.department.name"></h4>
            </div>
          </div>
          <div class="item">
            <i class="angellist large icon"></i>
            <div class="content">
              <h4 ng-bind="user.team.name"></h4>
            </div>
          </div>
          <div class="item">
            <i class="text telephone large icon"></i>
            <div class="content">
              <h4 ng-bind="user.phone"></h4>
            </div>
          </div>
          <div class="item">
            <i class="at large icon"></i>
            <div class="content">
              <h4><a target="_blank" href="mailto:{{user.email}}" ng-bind="user.email"></a></h4>
            </div>
          </div>
          <div class="item">
            <i class="linkify large icon"></i>
            <div class="content">
              <h4><a target="_blank" href="{{user.site}}" ng-bind="user.site"></a></h4>
            </div>
          </div>
          <div class="item">
            <i class="skype large icon"></i>
            <div class="content">
              <h4 ng-bind="user.skype"></h4>
            </div>
          </div>
          <div class="item">
            <i class="text send large icon"></i>
            <div class="content">
              <h4><a target="_blank" href="https://telegram.me/{{user.telegram}}" ng-bind="user.telegram"></a></h4>
            </div>
          </div>
          <div class="item">
            <i class="github large icon"></i>
            <div class="content">
              <h4><a target="_blank" href="{{user.github}}" ng-bind="user.github"></a></h4>
            </div>
          </div>
        </div>
    </div>
    <div class="item">
      <div class="ui large statistics">
        <!-- <div class="teal small statistic">
          <div class="value">
            18 min
          </div>
          <div class="label">
            today is absent
          </div>
        </div> -->
        <div class="small teal statistic">
          <div class="value">
            34 days
          </div>
          <div class="label">
            with the company
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="user-form">
    <div class="ui piled segment">
    <table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>User</th>
        <th>Department</th>
        <th>Team</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>
            <h4 class="ui image header">
              <img ng-src="{{user.avatar}}" alt="{{user.name}}" class="ui mini rounded image">
              <div class="content" ng-bind="user.name + ' ' + user.lastname">

                <div class="sub header">{{user.role.name}}
              </div>
            </div>
          </h4></td>
          <td>
            {{user.department.name}}
          </td>
          <td>
            {{user.team.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
