<div class="user-add-button">
  <button ui-sref="newUser" class="circular ui icon button addpopup" data-content="Hello. This is an inverted popup" data-variation="inverted" data-position="left">
    <i class="icon add user large"></i>
  </button>
</div>

<h3 class="ui header">All users</h3>
<div class="ui link cards">
  <div class="card" ng-repeat="user in users | filter:search">
    <div class="image">
      <img ng-src="{{user.avatar}}" alt="{{user.name}}">
    </div>
    <div class="content">
      <div class="header"><span ng-bind="user.name"></span> <span ng-bind="user.lastname"></span></div>
      <div class="meta">
        <a ng-bind="user.department.name"></a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content" ng-bind="getFullDepartment(user)">
      <span class="right floated">
        Joined in 2013
      </span>
      <!-- <span>
        <i class="user icon"></i>
        75 Friends
      </span> -->
    </div>
  </div>
</div>
