<div class="user-form">
  <div class="ui piled segment">
    <h4 class="ui header">Add new user</h4>
    <form role="form" class="ui form" ng-submit="addUser(avatar)">
        <!-- <div ng-include="'partials/_form.html'"></div> -->
        <div class="ui inverted segment">
          <div class="ui inverted form">
            <div class="two fields">
              <div class="field">
                <label>Login</label>
                <input placeholder="User login" ng-model="user.login" type="text">
              </div>
              <div class="field">
                <label>Password</label>
                <input placeholder="Write pass" ng-model="user.password" type="password">
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="shipping[first-name]" ng-model="user.name" placeholder="First Name">
            </div>
            <div class="field">
              <input type="text" name="shipping[last-name]" ng-model="user.lastname" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Departments</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text" ng-change="update(user.department)" ng-model="user.department">Department</div>
              <div class="menu">
                <div ng-repeat="department in departments" class="item" data-value="{{department.name}}" ng-bind="department.name" ng-selected="user.department.name == department.name"></div>
              </div>
            </div>
          </div>

          <div class="ui field">
            <label>Team</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text" ng-model="user.team">Team</div>
              <div class="menu">
                <div ng-repeat="team in teams" class="item" data-value="{{team.name}}" ng-bind="team.name" ng-selected="user.team.name == team.name"></div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Role</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text" ng-model="user.role">Role</div>
              <div class="menu">
                <div ng-repeat="role in roles" class="item" data-value="{{role.name}}" ng-bind="role.name" ng-selected="user.role.name == role.name"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="field">
          <label>Avatar</label>
          <input type="file" ngf-select ng-model="avatar" name="file"
                   accept="image/*" ngf-max-size="2MB"
                   ngf-model-invalid="errorFile" id="avatar-input">
        </div>
        <div class="form-group">
          <button type="submit" class="ui primary button">Save</button>
        </div>

    </form>
    <pre>
        {{ user | json }}
    </pre>
  </div>
</div>
