
<div class="user-form">
  <div class="ui piled segment">
    <h4 class="ui header">Edit user card</h4>
    <form role="form" class="ui form" ng-submit="updateUser(avatar)">
        <!-- <div ng-include="'partials/_form.html'"></div> -->
        <!-- <div class="ui inverted segment">
          <div class="ui inverted form">
            <div class="two fields">
              <div class="field">
                <label>Login</label>
                <input placeholder="User login" ng-model="user.username" type="text" required>
              </div>
              <div class="field">
                <label>Password</label>
                <input placeholder="Write pass" ng-model="user.password" type="password" required>
              </div>
            </div>
          </div>
        </div> -->
        <h4 class="ui dividing header">About you</h4>
        <div class="three fields">
          <div class="field">
            <label>First name</label>
            <input type="text" id="first-name" ng-model="user.name" placeholder="First Name">
          </div>
          <div class="field">
            <label>Second name</label>
            <input type="text" id="second-name" ng-model="user.lastname" placeholder="Last Name">
          </div>
          <div class="field">
            <label>Birthday</label>
            <div class="ui left icon input">
              <input type="text" ng-model="user.birthday" name="datetime" value="06-26-1993" placeholder="06-26-1993" />
              <i class="gift icon"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <textarea rows="2" ng-model="user.info" placeholder="Tell about yourself..."></textarea>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Avatar</label>
            <div class="ui middle aligned tiny circular image">
              <img ng-src="{{user.avatar}}" alt="{{user.name}}" />
            </div>
            <button class="ui basic button add-image-button" type="file" ngf-select ng-model="avatar" name="file"
                     accept="image/*" ngf-max-size="2MB"
                     ngf-model-invalid="errorFile" id="avatar-input">
                     <i class="icon file image outline"></i>
                     Select image
            </button>
          </div>
        </div>


        <h4 class="ui dividing header">About work</h4>
        <div class="two fields">
          <div class="field">
            <label>First working day </label>
            <div class="ui left icon input">
              <input type="text" ng-model="user.jobapplydate" name="datetime" value="08-25-2014" placeholder="08-25-2014" />
              <i class="calendar icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Position</label>
            <div class="ui left icon input">
              <input type="text" name="shipping[first-name]" id="position" ng-model="user.position" placeholder="Position">
              <i class="paw icon"></i>
            </div>
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>Departments</label>
            <div class="ui selection dropdown" id="department">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Department</div>
              <div class="menu">
                <div ng-repeat="department in departments" ng-click="update($index)" ng-model="user.department" class="item" data-value="{{department.name}}" ng-bind="department.name" department-repeat-end></div>
              </div>
            </div>
          </div>

          <div class="ui field">
            <label>Team</label>
            <div class="ui selection dropdown transition" id="userTeams">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Team</div>
              <div class="menu transition" id="userTeamsMenu">
                <div ng-repeat="team in teams" ng-click="addTeamToModel(team)" ng-model="user.team" class="item" data-value="{{team.name}}" ng-bind="team.name"></div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Role</label>
            <div class="ui selection dropdown" id="role">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text" >Role</div>
              <div class="menu">
                <div ng-repeat="role in roles" ng-click="addRoleToModel(role)" class="item" data-value="{{role.name}}" ng-bind="role.name"></div>
              </div>
            </div>
          </div>
        </div>

        <h4 class="ui dividing header">Additional information</h4>
        <div class="three fields">
            <div class="field">
              <label>Phone</label>
              <div class="ui left icon input">
                <input type="text" ng-model="user.phone" id="phone" placeholder="You phone number...">
                <i class="text telephone icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Email</label>
              <div class="ui left icon input">
                <input type="text" ng-model="user.email" id="email" placeholder="You email...">
                <i class="text at icon"></i>
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Site</label>
              <div class="ui left icon input">
                <input type="text" ng-model="user.site" id="url" placeholder="You site...">
                <i class="text linkify icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Github</label>
              <div class="ui left icon input">
                <input type="text" ng-model="user.github" id="github" placeholder="Github user link...">
                <i class="text github icon"></i>
              </div>
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Telegram</label>
              <div class="ui left icon input">
                <input type="text" ng-model="user.telegram" placeholder="Telegram user...">
                <i class="text send outline icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Skype</label>
              <div class="ui left icon input">
                <input type="text" ng-model="user.skype" placeholder="Skype login...">
                <i class="text skype icon"></i>
              </div>
            </div>
          </div>
          <div class="ui message error"></div>
          <div class="form-group">
            <button class="ui teal medium button">Save</button>
          </div>
      </form>
    </div>
  </div>
  <!-- <pre>{{user | json}}</pre> -->
